@charset "utf-8";
/* CSS Document */		
  @import url("https://use.typekit.net/xpd8mqm.css");
/* assign font for <p> */ 

#wrapper{
	width: 80%;
	margin: 0 auto;
}

#searchbox{
	float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
	}

h1 {
    font-family: ltc-broadway, sans-serif;
    font-weight: 400;
    font-style: normal;
	
    
    text-transform:lowercase;
    color:#43319;
    font-size:24px;
    letter-spacing:2px;
}

p{  font-family: ltc-broadway, sans-serif;
    font-weight: 400;
    text-transform:lowercase;
    color:#43319;
    font-size:10px;
    letter-spacing:2px;
}

body,html{
	min-height:100%;
	height: 100%;
	width: 100%;
	margin: 0px;
	border: 0px;
}
h3{
	font-family: ltc-broadway, sans-serif;
	color:#43319;
    font-size:18px;
}
h4{
    font-family: ltc-broadway, sans-serif;
    font-weight:normal;
    text-transform:uppercase;
    color:#43319;
    font-size:18px;

}



.btn{
    
	display:inline-block;
    background: #7969c2;
    padding:10px 20px; 
    text-transfrom: lowercase;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
}

btn:hover{
    background:#c5baf5;
    color:#433191;
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,.2);
}

img{
    
    max-width:100%;}



/*navigation appears throughout the website and should be styled early in the project*/
header{
    border-bottom:1px dotted #c5baf5;
}
header img{
    width:100px;
    padding:10px;
}

nav{
	background:linear-gradient(-45deg, transparent 10px, #F8F8FF 0); 
    float:right;
	padding:10px;
}
nav ul{
    list-style: none;
}

nav li{
    display:inline-block;
}

nav a{
    text-decoration: none;
    color:#7969c2;
    border: 1px dotted #c5baf5;
    padding:7px 12px;
    border-radius: 10px;
}

nav a:hover{
    color: #433191;
    border:1px dotted #433191;
        box-shadow: 2px 2px 5px 2px rgba(0,0,0,.2)
}

    /*hero*/
#hero{
    background: url(../img/homepage_image.png);
    background-size: cover;
	background-position: center bottom;
	height:calc(100vh - 120px);
	width:calc(100vh + 1000px);
	display: inline-flex;
	align-items: right;
	justify-content: center;
  input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
}
#hero div{
	background:rgba(255,255,255,.75);
	padding:20px;
	text-align:center;
	max-width:750px;
	border-radius: 10px
}

#hero h1, #hero p{
	margin-bottom:20px;
}
#hero pl div{
	align-items:right;
	
}



.container{
		display:flex;
	    padding:1px;
		margin-left: 1px;
		background:rgba(255,255,255,.75);
		text-align:center;
		display:flex;
	   
	
		flex-wrap:wrap;
		justify-content:left;
		align-items:center;
		align-content: center;
				
		}

.container div{
		 border: 1px rgba(255,255,255,.75) solid;
		 padding:1px;
			}
		
		/*.w8,.w92,.w16,.w83,.w25,.w75,.w33,.w67,.w42,.w58,.w50
		
			
		}*/
		.w8{width:8%;}
		.w92{width:97%;}
		.w16{width:16.07%;}
		.w83{width:83.25%;}
		.w25{width:24%;}
		.w75{width:75.25%;}
		.w33{width:33%;}
		.w67{width:66.25%;}
		.w42{width:42.5%;}
		.w58{width:56.7%;}
		.w50{width:51%;}
		.w18{width:18%;}
		.w51{width:48.25%;}
		.w26{width:26.7%}
    

/*}*/

#nc{
	display:inline-block;
}
/*for listing page*/
#masterdiv{
	display:flex;
	margin: 0px;
	border: 0px;
	height: 100%;
	width: 100%;
}

#divleft{
	display:inline;
		width:20%;
}

#divright{
	display:inline;
		width:80%;
}

.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: DodgerBlue;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

